.sin-stock{
    font-size: $small;
    color: red;    
    font-weight: bold;
}
.img-tienda{
    height: 150px;
    width: auto;
}
#card-tienda{
    text-align: center;
    font-size: 10px;
    height: 400px;
}